body {
    font-size: 15px;
    margin: 0 auto;
    color: rgb(200, 198, 198);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


#compiled-markdown {
    background-color: rgb(224,224,224);
    position: absolute;
    width: 49%;
    height: 113vh;
    padding: 0 1.5em;
    color: black;
}

#editor {
    width: 100%;
    position: absolute;
    font-size: 1em;
    padding: 0 1.5em;
}

code {
  color: #f66;
}